.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.card {
    background: #fff;
    width: 255px;
    height: 380px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: 15px;
    overflow: hidden;
}

.card img {
    width: 97px;
    height: 132px;
    margin: 30px auto;
}

.card-body {
    background: rgba(140, 50, 19, 0.06);
    padding: 20px;
    border-radius: 20px;
}

.card-body span {
    color: #8C3213;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 90px;
    display: flex;
    transition: 0.4s all ease;
}

.card-body span:hover {
    background: #8C3213;
}

.card-body span:hover>svg {
    filter: brightness(0) invert(1);
}

.card-body span svg {
    width: 16px;
    height: 16px;
    margin: 0;
    transition: 0.4s all ease;
}

.card-order-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.card-about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-header {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.card-available {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 17px; */
    color: #1E6140;
    margin: 0;
}

.card-price {
    font-weight: 700;
    font-size: 18px;
    /* line-height: 22px; */
    color: #84BE51;
    margin: 0;
}

.card-count {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 17px; */
}

.btn-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn-icon img {
    width: 16px;
    height: 16px;
}